<!DOCTYPE html>
<html>
  <head>
    <title>Jayshozie's Personal Blog</title>
    <meta name="description" content="Jayshozie's Personal Blog">
    <link rel="icon" href="{{ get_url(path='images/favicon.png') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="{{ get_url(path='style.css') }}" rel="stylesheet" type="text/css" media="all">

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/katex.min.css" integrity="sha384-u1zONI5gPXUx0UKI62c75/zww972y0v2rSK5ZYlVdS6xEuWDeZWUI66v6t1gvlXJ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/katex.min.js" integrity="sha384-ykMNcWQhhTUb0YV9SPpPUFURHZ+tWmubkakGBP+OgNK/UXdO2gtzglWx0Rj9hnO3" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"
        onload="renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false}
            ],
            throwOnError : false
        });"></script>
    <!-- KaTeX -->

  </head>
  <body>
    <nav class="top-bar">
        <a href="/"><h3>Main Page</h3></a>
        <a href="/about.html"><h3>About</h3></a>
        <a href="/archive.html"><h3>Archive</h3></a>
        <a href="/contact.html"><h3>Contact</h3></a>
    </nav>

    <main class="grid-layout">

      <aside class="left-sidebar">
        <h3>Emir Baha Yıldırım<br></h3>
        <p>
          tme cis pan dude<br>
          he/they<br>
          21<br>
          B.Sc. METU Civil Engineering<br>
          FOSS Developer<br>
          MLM Communist ☭<br>
        </p>
      </aside>

      <section class="core-content">
          {% block content %}
          {% endblock content %}
      </section>

      <aside class="right-sidebar">
        <h3>All Tags</h3>
        <ul>
          {% set global_tags = get_taxonomy(kind="tags") %}
          {% for term in global_tags.items %}
            <li><a href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a></li>
          {% endfor %}
        </ul>
      </aside>

    </main>

    <!-- <div id="footer"> -->
    <!--   <a href="https://github.com/jayshozie">GitHub</a> -->
    <!-- </div> -->
  </body>
</html>
